[submodule "FinancialMC"]
	path = FinancialMC
	url = ssh://git@github.com/adamConnerSax/FinancialMC
	branch = master
[submodule "TaxEDSL"]
	path = TaxEDSL
	url = ssh://git@github.com/adamConnerSax/TaxEDSL
	branch = master
